body{
  margin: 0;
  padding: 0;
}
  .banner {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 70%;
  }
  .banner .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
  }
  .banner .content h1 {
    font-size: 120px;
    text-transform: uppercase;
    color: #ffff;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .banner .content p {
    font-size: 40px;
    color: #ffff;
    margin: 0;
  }
  
  .btn{
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    position: relative;
    overflow: hidden; 
    cursor: pointer;  
    width: 150px;
    text-align: center;
    font-size: 15px;
    border-color: red;
    background-color: red;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, black 50%, transparent 50%);
    background-image: linear-gradient(45deg, black 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    
  }
  .btn:hover {
    background-position: 0;
    border-color: black;
  }
  .info{
    background-color: #111217;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    padding: 20px;
    margin: 0;
  }
  
  .info .info2{
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  .seach{
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    animation: back-go 3s;
  }
  .seach h1{
    width: 400px;
    font-size: 3rem;
    margin-bottom: 5px;
  }
  
  .seach p{
    font-size: 25px;
    width: 344px;
    color: gray;
  }
  .seach button{
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;  
    width: 150px;
    text-align: center;
    font-size: 15px;
    background-color: rgb(17, 60, 6);
    color: #fff;
  }
  .info2 .img{
    padding: 15px;
    width: 400px;
    border-radius: 20px;
    margin: 20px;
    animation: go-back 3s;
  }
  
@keyframes go-back {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
} 
@keyframes back-go {
  from {
    transform: translateX(344px);
  }
  to {
    transform: translateX(0);
  }
} 

.foo{
  width: 100%;
  height: 60vh;
  background-color: #1e2127 ;
}
