body {
    background-image: url(images/jett_in_red_black_background_4k_hd_valorant.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    margin: 0; 
    font-family: sans-serif;
    height: 100vh;
}

.create-account {
    margin-right: 250px;
    width: 500px;
    height: 85vh;
    padding: 45px;
    background-color: #fff;
    text-align: center;
    box-shadow: 10px 0px 50px 10px #000000;
    border-radius: 2%;
}

.create-account h2 {
    font-size: 30px;
    font-weight: 900;
    font-style: bold;
    margin-bottom: 10px;
}

.create-account p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

.create-account form {
    display: flex;
    flex-direction: column;
}

.create-account input[type="text"],
.create-account input[type="text"],
.create-account input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #494949;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.create-account input[type="text"]::placeholder,
.create-account input[type="text"]::placeholder,
.create-account input[type="text"]::placeholder {
    color: #999;
}

.create-account button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-position 0.3s ease;
    background-image: linear-gradient(to right, #c73541, #ff4654);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-position: right center;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px 0px #000000;
}

.create-account button[type="submit"]:hover {
    background-position: left center;
}

.create-account a {
    color: #000000;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
    transition: ease-in 0.3s;
}

